@import url('/css/bootstrap.css');
@import url('/css/bootstrap-responsive.css');
@import url('/css/jquery-ui-1.10.0.custom.css');
/*@import url('/css/flat-ui.css');*/
/*@import url('/css/video-js.css');*/

@font-face {
	font-family: 'Flat-UI-Icons-24';
	src:url('fonts/Flat-UI-Icons-24.eot');
	src:url('fonts/Flat-UI-Icons-24.eot?#iefix') format('embedded-opentype'),
		url('fonts/Flat-UI-Icons-24.woff') format('woff'),
		url('fonts/Flat-UI-Icons-24.ttf') format('truetype'),
		url('fonts/Flat-UI-Icons-24.svg#Flat-UI-Icons-24') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Flat-UI-Icons-24';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.replace
{
	height:35px;
	width:185px;
	background: url("/img/rhubarb_logo_white.png") 0 0 no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	padding: 0px;
}

/* Buttons */
.btn-signup{
	color: #ffffff;
	font-weight: bold;
	background: #911133;
	border: none;
	border-radius: -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	padding: 2px;
}

.btn-signup a{
	color: #ffffff;
}

.btn-signup:hover{
	background: #820f2e;
}

/*
	FORM STYLES
*/
.form-signin {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 20px auto 20px;
    max-width: 400px;
    min-width: 300px;
    padding: 19px 29px 29px;
}

input[type="submit"]{
	background: #91cd46;
	border: 1px solid #77b030;
	border-radius: -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	padding: 5% 0;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;	
}

input[type="submit"]:hover{
	background: #b8d98e;
	border: 1px solid #98c85b;
}

input[type="submit"]:active{
	background: #6f9522;
	border: 1px solid #5a791c;
}
	

input[type='password']{
	color: #cccccc;
}

::-webkit-input-placeholder { color:#777777; }
::-moz-placeholder { color:#777777; } /* firefox 19+ */
:-ms-input-placeholder { color:#777777; } /* ie */
input:-moz-placeholder { color:#777777; }


.form-hints{
	color:#777777;
}


/* WATCHLIST PAGE */

.movieCard{
	/* styles */
	width: 168px;
	margin: 0 20px 25px 0;
	float: left;
	border: 1px solid #cccccc;
}

.movieResults ul, li {
	list-style-type: none;
	font-size: .85em;
}

.movieResults ul, img {
	width: 168px;
	height: 252px;
	border-bottom: 1px solid #cccccc;
}

.movieCardInfo{
	background: #fff;
	padding: 10px 10px;
	height: 60px;
}

.movieCardInfo a{
	color: #000;
}



/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="fui-"]:before {
*/
.fui-video-24:before, .fui-time-24:before, .fui-settings-24:before, .fui-plus-24:before, .fui-new-24:before, .fui-menu-24:before, .fui-man-24:before, .fui-mail-24:before, .fui-lock-24:before, .fui-location-24:before, .fui-heart-24:before, .fui-eye-24:before, .fui-cross-24:before, .fui-cmd-24:before, .fui-checkround-24:before, .fui-checkmark-24:before, .fui-calendar-24:before, .fui-bubble-24:before, .fui-volume-24:before, .fui-camera-24:before {
	font-family: 'Flat-UI-Icons-24';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.fui-video-24:before {
	content: "\e000";
}
.fui-time-24:before {
	content: "\e001";
}
.fui-settings-24:before {
	content: "\e002";
}
.fui-plus-24:before {
	content: "\e003";
}
.fui-new-24:before {
	content: "\e005";
}
.fui-menu-24:before {
	content: "\e006";
}
.fui-man-24:before {
	content: "\e007";
}
.fui-mail-24:before {
	content: "\e008";
}
.fui-lock-24:before {
	content: "\e009";
}
.fui-location-24:before {
	content: "\e00a";
}
.fui-heart-24:before {
	content: "\e00b";
}
.fui-eye-24:before {
	content: "\e00c";
}
.fui-cross-24:before {
	content: "\e00d";
}
.fui-cmd-24:before {
	content: "\e00e";
}
.fui-checkround-24:before {
	content: "\e00f";
}
.fui-checkmark-24:before {
	content: "\e010";
}
.fui-calendar-24:before {
	content: "\e011";
}
.fui-bubble-24:before {
	content: "\e012";
}
.fui-volume-24:before {
	content: "\e013";
}
.fui-camera-24:before {
	content: "\e004";
} 